@import 'tailwindcss';

:root {
  --background: var(--color-white);
  --base: var(--color-gray-100);
  --foreground: var(--color-gray-900);
  --foreground-secondary: var(--color-gray-600);
  --foreground-muted: var(--color-gray-400);
}

@theme inline {
  --color-background: var(--background);
  --color-bg-base: var(--base);
  --color-foreground: var(--foreground);
  --color-foreground-secondary: var(--foreground-secondary);
  --color-foreground-muted: var(--foreground-muted);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}
